img{
    width: 500px;
    margin-left: 200px;
}
.divmain{
    width: 1000px;
    margin-left: 300px;

}
.krasImg{
    margin-left: 0px;
}
.hamImg{
    width: 250px;
    margin-left: 325px;
}
div{
    background-color: black;
    color: white;
}