h2{
    text-align: center;
}
li{
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    display:flex;
    width: 500px;
    margin: 40px;
    margin-left: 140px;
    float: inline-start;
    height: 850px;
    background-color:rgb(232, 232, 232);
    box-shadow: 10px 10px 10px 10px grey;
}
.colm{
    display:flex;
    display: block;
    margin:30px;
}
.blok{
    display:flex;
    display: block;
    margin:30px;
}
.blok2{
    display:flex;
    margin:30px;
}
img{
    width: 300px;
    margin-left: 60px;
}
input{
      margin-left: 480px;
  width: 500px;
  height: 25px;
}
