p{width: 800px;
  margin-left: 400px;
  margin-top: 50px;
  font-size: 20px;
}
img{
  width: 800px;
  margin-left: 400px;
  border-radius: 25px;
}
.lisa{
    width: 400px;
    margin-left: 570px;
}
.imges{
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    display:flex;
    margin: 40px;
    float: inline-start;
    background-color: rgba(238, 251, 192, 0.83);
    box-shadow: 10px 10px 10px 10px grey;
    width: 250px;
    padding: 20px;
}
.imglist{
    display: grid;
  grid-template-columns: 320px 320px 320px 320px;
  grid-template-rows: auto;
}
h1{
  margin-left: 600px;
}
.gizih1{
  margin-left: 650px;
}